<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="mb-0">{{ title }} usuario</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="usersForm" (ngSubmit)="submit()">
            <div class="mb-3">
              <label for="first_name" class="form-label">Nombre</label>
              <input
                type="text"
                class="form-control"
                id="first_name"
                formControlName="first_name"
                placeholder="Introduce tu nombre"
                [class.invalid]="checkControl('first_name')"
                [class.valid]="checkValid('first_name')"
              />
              @if (checkCurrentError("first_name", "required")) {
              <p class="error">El campo es requerido.</p>
              }@if (checkCurrentError("first_name", "minlength")) {
              <p class="error">
                El nombre debe tener dos carácteres como mínimo.
              </p>
              } @if (checkCurrentError("first_name", "maxlength")) {
              <p class="error">El nombre excede el máximo de carácteres.</p>
              }
            </div>

            <div class="mb-3">
              <label for="last_name" class="form-label">Apellidos</label>
              <input
                type="text"
                class="form-control"
                id="last_name"
                formControlName="last_name"
                placeholder="Introduce tus apellidos"
                [class.invalid]="checkControl('last_name')"
                [class.valid]="checkValid('last_name')"
              />
              @if (checkCurrentError("last_name", "required")) {
              <p class="error">El campo es requerido.</p>
              }@if (checkCurrentError("last_name", "minlength")) {
              <p class="error">Mínimo de 2 carácteres</p>
              } @if (checkCurrentError("last_name", "maxlength")) {
              <p class="error">
                Los apellidos exceden el máximo de carácteres.
              </p>
              }
            </div>

            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                formControlName="email"
                placeholder="Introduce tu email"
                [class.invalid]="checkControl('email')"
                [class.valid]="checkValid('email')"
              />
              @if (checkCurrentError("email", "required")) {
              <p class="error">El campo es requerido.</p>
              }@if (checkCurrentError("email", "pattern")) {
              <p class="error">Debe ser un email válido.</p>
              }
            </div>

            <div class="mb-3">
              <label for="image" class="form-label">Imagen</label>
              <input
                type="text"
                class="form-control"
                id="image"
                formControlName="image"
                placeholder="Introduce una URL de imagen"
                [class.invalid]="checkControl('image')"
                [class.valid]="checkValid('image')"
              />
              @if (checkCurrentError("image", "required")) {
              <p class="error">El campo es requerido.</p>
              }@if (checkCurrentError("image", "pattern")) {
              <p class="error">Debe ser una URL válida.</p>
              }
            </div>

            <div class="d-grid">
              <input
                type="submit"
                class="btn btn-primary"
                [value]="button"
                [disabled]="!usersForm.valid"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
